<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="index :: head">
    <meta charset="UTF-8">
    <title>BIBLIO</title>
</head>
<body>
<header th:replace="index :: header"></header>
<div class="container">
    <div><p>Всего карточек: <span th:text="${books.size()}"></span></p></div>
    <div class="container">
        <form th:replace="createBookForm :: form"></form>
    </div>
    <div><table class="table table-hover table-condensed">
        <tr><th>Наименование</th><th>Аннотоация</th></tr>
        <tr th:each = "bk: ${books}">
            <td><span th:text="${bk.author}">title</span></td>
            <td><a th:href="@{/book/{id}(id=${bk.id})}"><span th:text="${bk.title}">annotation</span></a></td>
            <td><form action="/books/delete" method="post"><input style="display: none;" name="id" th:value="${bk.getId()}"><input class="btn btn-warning" type="submit" value="удалить"></form></td>
        </tr>
    </table>
    </div>
</div>
</body>
</html>