<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="index :: head">
    <meta charset="UTF-8">
    <title>BIBLIO</title>
</head>
<body>
<header th:replace="index :: header"></header>
<div class="container">
    <div><table class="table table-bordered">
        <tr><th>Автор</th><th>Заглавие</th></tr>
        <tr th:each = "bk: ${books}">
            <td><span th:text="${bk.author}">author</span></td>
            <td><a th:href="@{/book/{id}(id=${bk.id})}"><span th:text="${bk.title}">title</span></a></td>
            <td><form action="/books/delete" method="post"><input style="display: none;" name="id" th:value="${bk.id}"><input type="submit" value="удалить"></form></td>
        </tr>
    </table>
    </div>
    <div>
        <form th:replace="createBookForm :: form"></form>
    </div>
</div>
</body>
</html>