<form th:fragment="form" method="post" action="/users/">
        <h3>Создать пользователя</h3>
        <div class="form-group">
            <label>Имя</label>
            <input name="name" class="form-control"/>
        </div>
        <div class="form-group">
            <label>login</label>
            <input name="login" class="form-control"/>
        </div>
        <div class="form-group">
            <label>email</label>
            <input type="email" name="email" class="form-control"/>
        </div>
        <div class="form-group">
            <label>пароль</label>
            <input type="password" name="password" class="form-control"/>
        </div>
        <input class="btn btn-primary" type="submit" value="создать"/>
</form>